body {
width: 100%;
margin: 0 0 0 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

circle {stroke: steelblue; stroke-width: 3px;}
.not-a-target circle {stroke: green;}
.not-a-target.missing circle {stroke: red;}
text {font: 12px sans-serif;}
path {fill: none; stroke: #ccc; stroke-width: 2px;}
path:hover {stroke: #000;}
.phony {stroke-opacity: 0.5;}
.phony text {opacity: 0.5;}
